body{
    background-color: black;
    color: azure;
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 200;
    text-align: center;
    line-height: 100vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    text-align: center;
    line-height: 100vh;
    transition: all 0.5s;
}


@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

nav{
    position: sticky;
    top: 0;
    z-index: 100;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li.nav a:hover {
    background-color: #221f1f;
}

div.fs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    z-index: -1;
    opacity: 15%;
    font-size: 10vw;
}

div.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

img.foot{
    position: absolute;
    right: 0;
    width: 30vw;
    z-index: -1;
}

p.spacing{
    height: 85vh;
}

.grid-container {
    display: grid;
    grid-auto-columns: 6.5vw;
    padding: 5vw;
    gap: 1vw;
}

.grid-container > div {
    padding: 20px 10px;
    text-justify: distribute;
    background-color: #221f1f;
    text-align: justify;
    border-radius: 10px;
}

.grid-container > div > img {
    position: relative;
    width: 100%;
}

.grid-container > div.item1 {
    grid-column: 1 / span 8;
}

.grid-container > div.item2 {
    grid-column: 9 / span 4;
    background-color: black;
}

.grid-container > div.item3 {
    grid-column: 1 / span 7;
}

.grid-container > div.item4 {
    grid-column: 8 / span 5;
}